<header>
  <app-menu-bar></app-menu-bar>
  <app-menu-title></app-menu-title>
</header>

<div class="articles">
  <div class="main-article">
    <app-big-card
      photoCover="assets/gato-programador.jpg"
      cardTitle="A Arte de Programar: Um Gato, Java, Café e Música"
      cardDescription="Como um gato desenvolvedor, descobri que a combinação perfeita para programar em Java é ter uma boa playlist e uma xícara de café quentinho ao lado. A música ajuda a manter o foco felino, enquanto o café mantém minhas habilidades de codificação afiadas como minhas garras. Venha descobrir como essa tríade mágica pode transformar suas sessões de programação!"
    ></app-big-card>
  </div>
  
  <div class="other-articles">
    <app-small-card 
      photoCover="assets/gato-contador.jpg"
      cardTitle="Segurança Contábil Felina: Como os Gatinhos Controlam suas 9 Vidas"
      cardDescription="Descubra como nossos amigos felinos mantêm um controle impecável de suas vidas extras e gerenciam seus recursos com precisão matemática. Uma análise profunda sobre como os gatos aplicam conceitos avançados de contabilidade em seu dia a dia, desde o controle de petiscos até o balanço de sonecas."
    ></app-small-card>

    <app-small-card 
      photoCover="assets/gato-gamer.jpg"
      cardTitle="Gatinhos vs Humanos: A Supremacia Felina nos Games"
      cardDescription="Por que os gatos são naturalmente melhores em jogos? Reflexos rápidos, estratégia aguçada e concentração felina fazem toda a diferença! Explore como nossos amigos felinos dominam diferentes gêneros de jogos e por que eles seriam os gamers perfeitos."
    ></app-small-card>

    <app-small-card 
      photoCover="assets/gato-java.jpg"
      cardTitle="Aprendendo Java com Gatinhos: Uma Jornada Pata a Pata"
      cardDescription="Como nossos amigos felinos dominam a arte da programação Java com sua curiosidade natural e inteligência excepcional. Descubra os segredos do desenvolvimento de software através dos olhos de um gato programador e como eles transformam a complexidade em simplicidade elegante."
    ></app-small-card>
  </div>
</div>
