.articles {
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1200px;
  padding: 0 20px;
}

.main-article {
  margin-right: 20px;
}

.other-articles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Media Queries para responsividade */
@media (max-width: 1200px) {
  .articles {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .articles {
    flex-direction: column;
    align-items: center;
  }

  .main-article {
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
  }

  .other-articles {
    width: 100%;
    gap: 20px;
  }
}
